<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/12bool.css">
    <link rel="stylesheet" href="./assets/css/master.css">
    <title></title>
  </head>
  <body>
    <div id="root">

      <div class="container">

        <div class="content next-todo">
          <div class="titolo">
            <h1>Prossime attività</h1>
          </div>
          <ul class="todos" >
            <li v-for='todo in todosOrdered'>
              <span
                class='title'
                :class="(todo.status == 'done') ? 'barrato' : ''">
                {{todo.title}}
              </span>
              <div class="controls">
                <span
                  v-if="todo.status != 'done'"
                  class="edit"
                  @click='modifica(todo)'>
                  <i class="far fa-edit"></i>
                </span>
                <span
                  v-if="todo.status != 'done'"
                  class="edit"
                  @click='fatto(todo)'>
                  <i class="fas fa-check"></i>
                </span>
                <span
                  v-if="todo.status == 'done'"
                  class="remove"
                  @click='remove(todo)'>
                  <i class="fas fa-trash"></i>
                </span>
              </div>
            </li>
          </ul>
          <input @keyup.enter='submit' v-model='input' id="nuovo" type="text" name="" value="" placeholder="Aggiungi un'attività">

        </div>


      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
